In [9]:
import os, sys
import gensim
import logging
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
DATA_DIR = os.environ["DATA_DIR"]
DISTANCE_VECTORS_FILE = os.path.join(DATA_DIR, "distance_vectors_word.csv")
IMAGENET_LABELS_FILE = os.path.join(DATA_DIR, 'imagenet_labels.csv')
VQA_QUESTIONS_FILE = os.path.join(DATA_DIR, 'vqa_nouns.csv')

In [11]:
df_distance = pd.read_csv(DISTANCE_VECTORS_FILE)
df_distance.head(5)

,Unnamed: 0,image,question_id,noun,label,distance
0,0,COCO_train2014_000000487025.jpg,4870251.0,shadow,Aeroplane,4.100511
1,1,COCO_train2014_000000487025.jpg,4870251.0,shadow,Bicycle,4.566589
2,2,COCO_train2014_000000487025.jpg,4870251.0,shadow,Bird,3.909102
3,3,COCO_train2014_000000487025.jpg,4870251.0,shadow,Boat,4.427794
4,4,COCO_train2014_000000487025.jpg,4870251.0,shadow,Bottle,4.373955

In [12]:
df_imagenet = pd.read_csv(IMAGENET_LABELS_FILE)
df_imagenet.head(5)

                  image label
0  n02124075_10012.JPEG   Cat
1  n02124075_10024.JPEG   Cat
2  n02124075_10033.JPEG   Cat
3  n02124075_10034.JPEG   Cat
4  n02124075_10035.JPEG   Cat

In [13]:
df_vqa = pd.read_csv(VQA_QUESTIONS_FILE)
df_vqa.head(5)

                             image  question_id    noun
0  COCO_train2014_000000487025.jpg    4870251.0  shadow
1  COCO_train2014_000000487025.jpg    4870252.0   bench
2  COCO_train2014_000000078077.jpg     780770.0   train
3  COCO_train2014_000000078077.jpg     780771.0   color
4  COCO_train2014_000000078077.jpg     780771.0  stripe

In [23]:
distances = []
i = 0
for index, row in df_vqa.iterrows():
    for _idx, _row in df_imagenet.iterrows():
        print(row["image"])
        sys.exit()

COCO_train2014_000000487025.jpg

SystemExit:

/home/rsilva/anaconda3/envs/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2971: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)